body {
    background-color: rgb(41, 41, 41);
    font-size: 1.25vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

label {
    display: block;
    width: auto;
    font-weight: bolder;
}

.quizFields {
    display: block;
    float: left;
    width: 50%;
    margin: 0 auto;
    background-color: gainsboro;
    padding: 0.5vw 1vw;
    text-align: center;
}

.newPage {
    clear: both;
    display: block;
    padding-top: 1vw;
    font-weight: bolder;
}

.blob {
    width: 40%;
    margin: 1vw auto;
    text-align: center;
    background-color: slategray;
    padding: 0.5vw 0.5vw;
}

.center {
    padding: 1vw;
    text-align: center;
    display: block;
    width: auto;
    margin: 0 auto;
}

h1 {
    padding: 1vw 0vw;
}

input {
    width: 100%;
    text-align: center;
}

button {
    padding: 1vw;
    font-size: 2vw;
    text-transform: uppercase;
    color: gainsboro;
    background-color: rgb(94, 94, 94);
}

.intro {
    background-color: gainsboro;
    padding: 1vw;
    margin-bottom: 1vw;
}

a {
    color: #1400ED !important;
    text-decoration: none;
}

a:visited {
    color: #55198B !important;
}